ORACLE_USERNAME=<YOUR_USERNAME>
ORACLE_PASSWORD=<YOUR_PASSWORD>
ORACLE_INVOICE_URL=https://ecfz-test.fa.ap2.oraclecloud.com/fscmRestApi/resources/11.13.18.05/invoices
ORACLE_REQUEST_TIMEOUT=30
DATABASE_PATH=data/invoices.db
